<div class="main">
    <h1>Montagens</h1>
    <hr>
    <button routerLink="../cadastrar-montagem" type="submit" class="btn btn-success">Adicionar</button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Qntd. Componentes</th>
            <th scope="col">Valor total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let mont of dados.content">
            <td>{{mont.nome}}</td>
            <td>{{mont.totalComponentes}}</td>
            <td>R$ {{mont.valorTotal}}</td>
            <td class="actions"><button (click)="remover(mont.id)" type="submit" class="btn btn-danger">Remover</button></td>
        </tr>
       
        </tbody>

        <paginacao [data]="dados" (mudarPagina)="listar($event)"></paginacao>
    </table>
</div>
